<div style="height: 100%; position: relative;">
    <canvas id="cMap"></canvas>
</div>
<div style="height: 3px;display: flex;">
    <div class="vline dotleft" style="max-width: 128px"></div>
    <div class="vline dotleft dotright bright"></div>     
</div>
<div style="height: 3px;display: flex; margin-top: 2px;position:relative;">
        <div class="vline dotleft" style="max-width: 128px"></div>
        <div class="vline dotleft dotright bright">
                <div class="footer">
                    <div class="text dark dotleft">MAPX</div>
                    <div class="text">{{mouseX}}</div>
                    <div class="text dark dotleft">MAPY</div>
                    <div class="text">232.3</div>
                </div> 
        </div>
</div>
   
