<div id="app-bar">
    <div class="back" (click)="goBack()">
        <img src="assets/icons/back.png" />
    </div>
    Configuration
</div>

<div id="tab-bar">
    <div class="spacer"></div>

    <div *ngFor="let tab of _tabs" class="tab" [class.active]="tab.target == _activeTab.target" (click)="switchTab(tab)">
        {{tab.label}}
    </div>
    <div class="spacer"></div>
</div>


<div style="position:absolute;top:104px;bottom:0px;left:0px;right: 0;">
    <device class="page" [ngClass]="this._activeTab.target=='device' ? 'active-page' : 'in-active-page'"></device>
    <calibration class="page" [ngClass]="this._activeTab.target=='calibration' ? 'active-page' : 'in-active-page'"></calibration>
</div>
