
@font-face {
    font-family: bebas-neue;
    src: url('../assets/fonts/BebasNeue\ Regular.otf');
  }

@font-face {
    font-family: bebas-neue;
    src: url('../assets/fonts/BebasNeue\ Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: open-sans;
    src: url('../assets/fonts/OpenSans-Regular.ttf');
  }

  @font-face {
    font-family: open-sans;
    src: url('../assets/fonts/OpenSans-Bold.ttf');
    font-weight: bold;
  }